@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
}

h1,
h2 {
    font-family: 'Palanquin', sans-serif;
}


html {
    scroll-behavior: smooth;
}

@keyframes image-zoom {
    0% {
        background-size: 95% auto;
    }

    50% {
        background-size: 110% auto;
    }

    100% {
        background-size: 100% auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-out;
}



.pattern-diagonal-lines {
    background-image: linear-gradient(45deg, currentColor 25%, transparent 25%, transparent 75%, currentColor 75%, currentColor),
        linear-gradient(45deg, currentColor 25%, transparent 25%, transparent 75%, currentColor 75%, currentColor);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.pattern-dots {
    background-image: radial-gradient(currentColor 2px, transparent 2px);
    background-size: 30px 30px;
}

.pattern-zigzag {
    background: linear-gradient(135deg, currentColor 25%, transparent 25%) -10px 0,
        linear-gradient(225deg, currentColor 25%, transparent 25%) -10px 0,
        linear-gradient(315deg, currentColor 25%, transparent 25%),
        linear-gradient(45deg, currentColor 25%, transparent 25%);
    background-size: 20px 20px;
}

.pattern-squares {
    background-image: linear-gradient(currentColor 1px, transparent 1px),
        linear-gradient(to right, currentColor 1px, transparent 1px);
    background-size: 20px 20px;
}

.palanquin-thin {
    font-family: "Palanquin", serif;
    font-weight: 100;
    font-style: normal;
}

.palanquin-extralight {
    font-family: "Palanquin", serif;
    font-weight: 200;
    font-style: normal;
}

.palanquin-light {
    font-family: "Palanquin", serif;
    font-weight: 300;
    font-style: normal;
}

.palanquin-regular {
    font-family: "Palanquin", serif;
    font-weight: 400;
    font-style: normal;
}

.palanquin-medium {
    font-family: "Palanquin", serif;
    font-weight: 500;
    font-style: normal;
}

.palanquin-semibold {
    font-family: "Palanquin", serif;
    font-weight: 600;
    font-style: normal;
}

.palanquin-bold {
    font-family: "Palanquin", serif !important;
    font-weight: 900;
    font-style: normal;
}